:root {
  --color-bg: #1a1a1a; 
  --color-primary: #6e2855; 
  --color-secondary: #2a2a2a; 
  --color-text: #f0f0f0; 
  --color-accent: #c13a68; 
  --color-button-hover: #c13a68; 
  --color-box-shadow: rgba(0, 0, 0, 0.3);
  --color-box-shadow-hover: rgba(0, 0, 0, 0.5);
  --border-radius: 10px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 70px; 
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
}


button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

input, textarea {
  background-color: var(--color-secondary);
  color: var(--color-text); 
  border: 1px solid var(--color-primary); 
}

input::placeholder, textarea::placeholder {
  color: var(--color-text); 
}

